# Avaliação C3 - Projeto Integrador de Computação III

Neumann Software consiste dos membros: 

* Gabriel Cardozo Ansesqui Rangel
* Lucas Carlos Giacomin
* Matheus de Paula Barbosa
* Nathan da Silva Bravin
* Nicole Menezes Cravo
* Rafael de Oliveira Lopes
* Renan Texeira

# Importações e Datasets

In [ ]:
# Montar google drive para leitura de dados:

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Biblioteca para ajudar na visualização dos dados no python, inclusive ela é baseada na matplotlib.

import seaborn as sns

# Importando biblioteca Pandas para a criação e manipulação de DataFrames.
import pandas as pd

#Importando numpy
import numpy as np 

# Importando o método PLT para visualizar graficamente os dados, cálculos e regressões que aplicarmos.
import math
import matplotlib as plt

# Importando o método PreProcessing da biblioteca SKLearn para aplicar Label Encoding.
from sklearn import preprocessing

# Importando o método LogisticRegression para poder realizar regressões logísticas no DataFrame.
from sklearn.linear_model import LogisticRegression

# Importando o método LinearRegression para poder realizar regressões lineares no DataFrame.
from sklearn.linear_model import LinearRegression

# Importando os métodos MSE para obter a margem de erro de nossas estimativas, o método Confusion Matrix para poder realizar 
# matrizes de confusão, e método AUC para podermos visualizar a curva ROC.
from sklearn.metrics import confusion_matrix, auc, roc_auc_score, roc_curve

from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from mlxtend.plotting import plot_confusion_matrix
from sklearn.metrics import mean_squared_error
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss
from sklearn.ensemble import RandomForestClassifier

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

from sklearn import preprocessing

from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

import matplotlib.pyplot as plt

import math

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Leitura dos dados em formato XLSX (Excel) e importação para um dataframe com o auxilio do Pandas:

path = "/content/drive/MyDrive/Projeto Integrador III/C3/athlete_events.csv"
data = pd.read_csv(path)
data

In [ ]:
# Caso queira ler o arquivo localmente utilize este código abaixo:

data = pd.read_excel("./Dados.xlsx")
data

In [ ]:
# Fazendo a soma de valores faltantes no nosso dataset.

data.isna().sum()

In [ ]:
# Aqui estamos calculando a média desses valores faltantes que foram somados anteriormente.

mean_Age = data.Age.mean();
mean_Height = data.Height.mean();
mean_Weight = data.Weight.mean();

# Impressão das médias calculadas anteriormente. 

print("Idade:", mean_Age)
print("Altura:", mean_Height)
print("Peso:", mean_Weight)

In [ ]:
# Preenchendo os valores que estão faltando com as médias obtidas anteriormente.

data.update(data.Age.fillna(math.floor(mean_Age)))
data.update(data.Height.fillna(math.floor(mean_Height)))
data.update(data.Weight.fillna(math.floor(mean_Weight)))

In [ ]:
# Fazendo nova visualização para garantir que não há mais nenhum elemento em falta.

data.isna().sum()

In [ ]:
# Separando os dados onde o sexo é feminino.

data_female = data[(data.Sex == 'F')]
data_female.head()

In [ ]:
# Separando os dados onde o sexo é feminino.

data_male = data[(data.Sex == 'M')]
data_male.head()

# Gráficos

## Criação de dados de atletas divididos por sexo:

In [ ]:
female_1900_1948 = data_female.query('Year == 1900 or Year == 1904 or Year == 1906 or Year == 1908 or Year == 1912 or Year == 1920 or Year == 1924 or Year == 1928 or Year == 1932 or Year == 1936 or Year == 1948')
female_1952_2000 = data_female.query('Year == 1952 or Year == 1956 or Year == 1960 or Year == 1964 or Year == 1968 or Year == 1972 or Year == 1976 or Year == 1980 or Year == 1984 or Year == 1988 or Year == 1992 or Year == 1994 or Year == 1996 or Year == 1998')
female_2002_2016 = data_female.query('Year == 2002 or Year == 2004 or Year == 2006 or Year == 2008 or Year == 2010 or Year == 2012 or Year == 2014 or Year == 2016')

In [ ]:
male_1900_1948 = data_male.query('Year == 1900 or Year == 1904 or Year == 1906 or Year == 1908 or Year == 1912 or Year == 1920 or Year == 1924 or Year == 1928 or Year == 1932 or Year == 1936 or Year == 1948')
male_1952_2000 = data_male.query('Year == 1952 or Year == 1956 or Year == 1960 or Year == 1964 or Year == 1968 or Year == 1972 or Year == 1976 or Year == 1980 or Year == 1984 or Year == 1988 or Year == 1992 or Year == 1994 or Year == 1996 or Year == 1998')
male_2002_2016 = data_male.query('Year == 2002 or Year == 2004 or Year == 2006 or Year == 2008 or Year == 2010 or Year == 2012 or Year == 2014 or Year == 2016')

## Divisão de atletas entre 1900 a 1948:

### Divisão de atletas femininas entre 1900 a 1948:

In [ ]:
graf = sns.catplot(x = "Year",
            data = female_1900_1948,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão de atletas masculinos entre 1900 a 1948:

In [ ]:
graf = sns.catplot(x = "Year",
            data = male_1900_1948,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:** 
A partir dos gráficos é possível notar que a quantidade de atletas femininas é bem baixa, porque no começo não era permitido de forma ampla a participação de mulheres nos jogos olímpicos, existiam alguns critérios conforme modalidade e esporte.

## Divisão de atletas entre 1952 a 1998:

### Divisão de atletas femininas entre 1952 a 1998:

In [ ]:
graf = sns.catplot(x = "Year",
            data = female_1952_2000,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão de atletas masculinos entre 1952 a 1998:

In [ ]:
graf = sns.catplot(x = "Year",
            data = male_1952_2000,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:** 
A inserção das mulheres nos jogos olímpicos ocorreu de forma gradativa, o número de modalidades esportivas praticadas por mulheres foi crescendo, e é possível perceber que ocorreu um aumento significativo de mulheres a partir dos anos 80 em diante.

## Divisão de atletas entre 2002 a 2016:

### Divisão de atletas femininas entre 2002 a 2016:

In [ ]:
graf = sns.catplot(x = "Year",
            data = female_2002_2016,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão de atletas masculinos entre 2002 a 2016:

In [ ]:
graf = sns.catplot(x = "Year",
            data = male_2002_2016,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
É possível analisar no gráfico que na década de 2000 e aumento no número de atletas femininas foi menor, porém a presença feminina nas olimpíadas já era comum. É possível notar também que o número de atletas despenca nos anos de 2002, 2006, 2010 e 2014. Isso acontece pois os dados desses anos se referem a olimpíadas de inverno, onde não são todos os países que participam.

## Divisão quantitativa de atletas em esportes aquáticos:

### Divisão quantitativa de atletas masculinos em esportes aquáticos:

In [ ]:
data_male_aquatics = data_male.query('Sport == "Sailing" or Sport == "Rowing" or Sport == "Water Polo" or Sport == "Synchronized Swimming" or Sport == "Diving" or Sport == "Swimming" or Sport == "Canoeing"')

graf = sns.catplot(x = "Sport",
            data = data_male_aquatics,
            kind = "count",
            height = 10,
            aspect = 1
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão quantitativa de atletas femininas em esportes aquáticos:

In [ ]:
data_female_aquatics = data_female.query('Sport == "Sailing" or Sport == "Rowing" or Sport == "Water Polo" or Sport == "Synchronized Swimming" or Sport == "Diving" or Sport == "Swimming" or Sport == "Canoeing"')

graf = sns.catplot(x = "Sport",
            data = data_female_aquatics,
            kind = "count",
            height = 10,
            aspect = 1.2
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
Podemos ver que em ambos os gráficos que a natação é o esporte preferido. Em geral, atletas femininas possuem baixos números em outros esportes aquáticos, exceto natação.

## Divisão quantitativa de atletas em esportes atléticos:

### Divisão quantitativa de atletas masculinos em esportes atléticos:

In [ ]:
data_male_athletics = data_male.query('Sport == "Athletics" or Sport == "Weightlifting" or Sport == "Rhythmic Gymnastics" or Sport == "Gymnastics" or Sport == "Triathlon" or Sport == "Trampolining" or Sport == "Modern Pentathlon" or Sport == "Cycling"')

graf = sns.catplot(x = "Sport",
            data = data_male_athletics,
            kind = "count",
            height = 10,
            aspect = 1
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão quantitativa de atletas femininas em esportes atléticos:

In [ ]:
data_female_athletism = data_female.query('Sport == "Athletics" or Sport == "Weightlifting" or Sport == "Rhythmic Gymnastics" or Sport == "Gymnastics" or Sport == "Triathlon" or Sport == "Trampolining" or Sport == "Modern Pentathlon" or Sport == "Cycling"')

graf = sns.catplot(x = "Sport",
            data = data_female_athletism,
            kind = "count",
            height = 10,
            aspect = 1.5
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
Há uma grande concentração em ambos os sexos em ginástica e atletismo, atletas femininas possuem baixos números em outros esportes atléticos, com poucos times em diferentes esportes.

## Divisão quantitativa de atletas em esportes de inverno:

### Divisão quantitativa de atletas masculinos em esportes de inverno:

In [ ]:
data_male_winter = data_male.query('Sport == "Speed Skating" or Sport == "Biathlon" or Sport == "Luge" or Sport == "Alpine Skiing" or Sport == "Figure Skating" or Sport == "Cross Country Skiing" or Sport == "Ice Hockey" or Sport == "Curling" or Sport == "Freestyle Skiing" or Sport == "Skeleton" or Sport == "Short Track Speed Skate" or Sport == "Ski Jumping" or Sport == "Snowboarding" or Sport == "Bobsleigh" or Sport == "Alpinism"')

graf = sns.catplot(x = "Sport",
            data = data_male_winter,
            kind = "count",
            height = 10,
            aspect = 2
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão quantitativa de atletas femininas em esportes de inverno:

In [ ]:
data_female_winter = data_female.query('Sport == "Speed Skating" or Sport == "Biathlon" or Sport == "Luge" or Sport == "Alpine Skiing" or Sport == "Figure Skating" or Sport == "Cross Country Skiing" or Sport == "Ice Hockey" or Sport == "Curling" or Sport == "Freestyle Skiing" or Sport == "Skeleton" or Sport == "Short Track Speed Skate" or Sport == "Ski Jumping" or Sport == "Snowboarding" or Sport == "Bobsleigh" or Sport == "Alpinism"')

graf = sns.catplot(x = "Sport",
            data = data_female_winter,
            kind = "count",
            height = 10,
            aspect = 1.7
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
Vemos muitas atletas femininas praticando diferentes modalidades de esqui, patinação e biathlon. A ginástica artística é um esporte com números similares de integrantes de ambos os sexos, com maiores integrantes femininas. Esportes principalmente masculinos são hóquei, bobsleigh e salto de esqui.

## Divisão quantitativa de atletas em esportes com bolas:

### Divisão quantitativa de atletas masculinos em esportes com bolas:

In [ ]:
data_male_ball = data_male.query('Sport == "Handball" or Sport == "Football" or Sport == "Basketball" or Sport == "Golf" or Sport == "Softball" or Sport == "Hockey" or Sport == "Volleyball" or Sport == "Table Tennis" or Sport == "Badminton" or Sport == "Rugby" or Sport == "Tennis" or Sport == "Beach Volleyball" or Sport == "Crocket"')

graf = sns.catplot(x = "Sport",
            data = data_male_ball,
            kind = "count",
            height = 10,
            aspect = 1.5
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão quantitativa de atletas femininas em esportes com bolas:

In [ ]:
data_female_ball = data_female.query('Sport == "Handball" or Sport == "Football" or Sport == "Basketball" or Sport == "Golf" or Sport == "Softball" or Sport == "Hockey" or Sport == "Volleyball" or Sport == "Table Tennis" or Sport == "Badminton" or Sport == "Rugby" or Sport == "Tennis" or Sport == "Beach Volleyball" or Sport == "Crocket"')

graf = sns.catplot(x = "Sport",
            data = data_female_ball,
            kind = "count",
            height = 10,
            aspect = 1.5
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
Badminton, vôlei (tradicional e praia) e tênis de mesa são praticado por ambos sexos similarmente. Os esportes primeiramente masculinos são o basquetebol, futebol e hóquei. Softball é um esporte exclusivamente para mulheres.

## Divisão quantitativa de atletas em esportes de combate:

### Divisão quantitativa de atletas masculinos em esportes de combate:

In [ ]:
data_male_fight = data_male.query('Sport == "Taekwondo" or Sport == "Fencing" or Sport == "Judo" or Sport == "Wrestling" or Sport == "Boxing"')

graf = sns.catplot(x = "Sport",
            data = data_male_fight,
            kind = "count",
            height = 10,
            aspect = 1
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão quantitativa de atletas femininas em esportes de combate:

In [ ]:
data_female_fight = data_female.query('Sport == "Taekwondo" or Sport == "Fencing" or Sport == "Judo" or Sport == "Wrestling" or Sport == "Boxing"')

graf = sns.catplot(x = "Sport",
            data = data_female_fight,
            kind = "count",
            height = 10,
            aspect = 1.5
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
A quantidade de atletas em taekwondo é bastante similar em ambos os sexos, porém, os esportes de combate com maior concentração de mulheres são esgrima e judô. Já a quantidade de atletas masculinos ultrapassa significativamente em luta profissional, esgrima e boxe.

## Divisão quantitativa de atletas em esportes clássicos:

### Divisão quantitativa de atletas masculinos em esportes clássicos:

In [ ]:
data_male_classics = data_male.query('Sport == "Equestrianism" or Sport == "Archery" or Sport == "Shooting" or Sport == "Art competitions" or Sport == "Motorboating"')

graf = sns.catplot(x = "Sport",
            data = data_male_classics,
            kind = "count",
            height = 10,
            aspect = 1
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Divisão quantitativa de atletas femininas em esportes clássicos:

In [ ]:
data_female_classics = data_female.query('Sport == "Equestrianism" or Sport == "Archery" or Sport == "Shooting" or Sport == "Art competitions" or Sport == "Motorboating"')

graf = sns.catplot(x = "Sport",
            data = data_female_classics,
            kind = "count",
            height = 10,
            aspect = 1.5
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
Vemos pouquissimas atletas femininas nos jogos clássicos, sendo todos sendo mais práticados por atletas masculinos.

## Peso feminino:

### Peso de atletas femininas entre 0 até 40 kilos:

In [ ]:
weight_female_00_40 = data_female.query('Weight > 00 and Weight <= 40')

graf = sns.catplot(x = "Weight",
            data = weight_female_00_40,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 40 até 50 kilos:

In [ ]:
weight_female_40_50 = data_female.query('Weight > 40 and Weight <= 50')

graf = sns.catplot(x = "Weight",
            data = weight_female_40_50,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 50 até 60 kilos:

In [ ]:
weight_female_50_60 = data_female.query('Weight > 50 and Weight <= 60')

graf = sns.catplot(x = "Weight",
            data = weight_female_50_60,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 60 até 70 kilos:

In [ ]:
weight_female_60_70 = data_female.query('Weight > 60 and Weight <= 70')

graf = sns.catplot(x = "Weight",
            data = weight_female_60_70,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 70 até 80 kilos:

In [ ]:
weight_female_70_80 = data_female.query('Weight > 70 and Weight <= 80')

graf = sns.catplot(x = "Weight",
            data = weight_female_70_80,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 80 até 95 kilos:

In [ ]:
weight_female_80_95 = data_female.query('Weight > 80 and Weight <= 95')

graf = sns.catplot(x = "Weight",
            data = weight_female_80_95,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 95 até 110 kilos:

In [ ]:
weight_female_95_110 = data_female.query('Weight > 95 and Weight <= 110')

graf = sns.catplot(x = "Weight",
            data = weight_female_95_110,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 110 até 125 kilos:

In [ ]:
weight_female_110_125 = data_female.query('Weight > 110 and Weight <= 125')

graf = sns.catplot(x = "Weight",
            data = weight_female_110_125,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Peso de atletas femininas acima de 125 até 150 kilos:

In [ ]:
weight_female_125_150 = data_female.query('Weight > 125 and Weight <= 150')

graf = sns.catplot(x = "Weight",
            data = weight_female_125_150,
            kind = "count",
            height = 10,
            aspect = 1.5
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
É possível notar pelo gráfico de distribuição de peso feminino que há uma concentração maior entre 48.0 e 75.0 kg, principalmente por conta das modalidades em que as mulheres estão mais presentes (Atlética, Natação e Ginástica), pois estas modalidades possuem no peso um fator diferencial para a vitória.

## Idade feminina:

### Idade de atletas femininas entre 0 até 25 anos:

In [ ]:
age_female_00_25 = data_female.query('Age > 00 and Age <= 25')

graf = sns.catplot(x = "Age",
            data = age_female_00_25,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Idade de atletas femininas acima de 25 até 40 anos:

In [ ]:
age_female_25_40 = data_female.query('Age > 25 and Age <= 40')

graf = sns.catplot(x = "Age",
            data = age_female_25_40,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Idade de atletas femininas acima de 40 até 60 anos:

In [ ]:
age_female_40_60 = data_female.query('Age > 40 and Age <= 60')

graf = sns.catplot(x = "Age",
            data = age_female_40_60,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Idade de atletas femininas acima de 60 anos:

In [ ]:
age_female_60 = data_female.query('Age > 60')

graf = sns.catplot(x = "Age",
            data = age_female_60,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
As idades mais comuns na categoria feminina estão entre 16 e 29 anos. Podemos ver uma queda brusca na quantidade de atletas femininas com 26 anos em diante, possivelmente devido a perda de performance e de competitividade em decorrência disto.

## Distribuição de altura feminina:

### Altura de atletas femininas entre 1 metro até 1,40 metros:

In [ ]:
height_100_140 = data_female.query('Height > 100 and Height <= 140')

graf = sns.catplot(x = "Height",
            data = height_100_140,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Altura de atletas femininas acima de 1,40 metros até 1,50 metros:

In [ ]:
height_140_150 = data_female.query('Height > 140 and Height <= 150')

graf = sns.catplot(x = "Height",
            data = height_140_150,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Altura de atletas femininas acima de 1,50 metros até 1,65 metros:

In [ ]:
height_150_165 = data_female.query('Height > 150 and Height <= 165')

graf = sns.catplot(x = "Height",
            data = height_150_165,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Altura de atletas femininas acima de 1,65 metros até 1,80 metros:

In [ ]:
height_165_180 = data_female.query('Height > 165 and Height <= 180')

graf = sns.catplot(x = "Height",
            data = height_165_180,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Altura de atletas femininas acima de 1,80 metros até 2,00 metros:

In [ ]:
height_180_200 = data_female.query('Height > 180 and Height <= 200')

graf = sns.catplot(x = "Height",
            data = height_180_200,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Altura de atletas femininas acima de 2,00 metros:

In [ ]:
height_200_240 = data_female.query('Height > 200')

graf = sns.catplot(x = "Height",
            data = height_200_240,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
Analisando o gráfico (medido em centímetros) é possível notar que há uma grande quantidade de mulheres com altura entre 1.58 e 1.80 metros, há uma correlação existente entre alturas maiores e desempenho, dependendo da modalidade, pois há uma vantagem competitiva por pessoas mais altas.

## Relação entre idade e medalhas femininas:

### Distribuição de medalhas entre atletas femininas entre a idade de 0 até 15 anos:

In [ ]:
medal_age_female_00_10 = data_female.query('Age > 0 and Age <= 15')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_00_10)

### Distribuição de medalhas entre atletas femininas acima da idade de 15 até 20 anos:

In [ ]:
medal_age_female_15_20 = data_female.query('Age > 15 and Age <= 20')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_15_20)

### Distribuição de medalhas entre atletas femininas acima da idade de 20 até 25 anos:

In [ ]:
medal_age_female_20_25 = data_female.query('Age > 20 and Age <= 25')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_20_25)

### Distribuição de medalhas entre atletas femininas acima da idade de 25 até 30 anos:

In [ ]:
medal_age_female_25_30 = data_female.query('Age > 25 and Age <= 30')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_25_30)

### Distribuição de medalhas entre atletas femininas acima da idade de 30 até 35 anos:

In [ ]:
medal_age_female_30_35 = data_female.query('Age > 30 and Age <= 35')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_30_35)

### Distribuição de medalhas entre atletas femininas acima da idade de 35 até 40 anos:

In [ ]:
medal_age_female_35_40 = data_female.query('Age > 35 and Age <= 40')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_35_40)

### Distribuição de medalhas entre atletas femininas acima da idade de 45 até 50 anos:

In [ ]:
medal_age_female_45_50 = data_female.query('Age > 45 and Age <= 50')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_45_50)

### Distribuição de medalhas entre atletas femininas acima da idade de 50 até 55 anos:

In [ ]:
medal_age_female_50_55 = data_female.query('Age > 50 and Age <= 55')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_50_55)

### Distribuição de medalhas entre atletas femininas acima da idade de 55 até 60 anos:

In [ ]:
medal_age_female_55_60 = data_female.query('Age > 55 and Age <= 60')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_55_60)

### Distribuição de medalhas entre atletas femininas acima da idade de 60 anos:

In [ ]:
medal_age_female_60 = data_female.query('Age > 60')

fig = plt.figure(figsize=(50, 10))

sns.countplot('Age',
              hue='Medal', 
              data=medal_age_female_60)

### **Comentário:**
Analisando o gráfico é possível notar que a faixa etária que mais ganha medalhas dentre todos os tipos, fica entre 20 e 29 anos, e isso possivelmente está atrelado tanto a quantidade de atletas quanto ao fato de essa ser a idade que se tem o maior rendimento nas provas.

## Distribuição feminina entre países:

### Americas

#### North America

+ CAN/NFL - Canada
+ MEX - Mexico
+ USA/GUM - United States of America
+ PUR - Puerto Rico
+ ISV - US Virgin Islands

In [ ]:
north_america = data_female.query('NOC == "CAN" or NOC == "NFL" or NOC == "MEX" or NOC == "USA" or NOC == "GUM" or NOC == "PUR" or NOC == "ISV"')

graf = sns.catplot(x = "NOC",
            data = north_america,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Central America

+ ANT - Antigua and Barbuda
+ DOM - Dominican Republic
+ CUB - Cuba
+ HAI - Haiti
+ BIZ - Belize
+ CRC - Costa Rica
+ ESA - El Salvador
+ GUA - Guatemala
+ GRN - Grenade
+ HON - Honduras
+ NCA - Nicaragua
+ PAN - Panama
+ JAM - Jamaica
+ BAH - Bahamas
+ BAR - Barbados
+ DMA - Dominica
+ LCA - Saint Lucia
+ SKN - Saint Kitts
+ VIN - Saint Vincent
+ WIF - West Indies Federation

In [ ]:
central_america = data_female.query('NOC == "ANT" or NOC == "DOM" or NOC == "CUB" or NOC == "HAI" or NOC == "BIZ" or NOC == "CRC" or NOC == "ESA" or NOC == "GUA" or NOC == "GRN" or NOC == "HON" or NOC == "NCA" or NOC == "PAN" or NOC == "JAM" or NOC == "BAH" or NOC == "BAR" or NOC == "DMA" or NOC == "LCA" or NOC == "SKN" or NOC == "VIN" or NOC == "WIF"')

graf = sns.catplot(x = "NOC",
            data = central_america,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### South America

+ BRA - Brazil
+ ARG - Argentina
+ BOL - Bolivia
+ CHI - Chile
+ COL - Colombia
+ ECU - Ecuador
+ GUY - Guyana
+ PAR - Paraguay
+ PER - Peru
+ SUR - Suriname
+ TTO - Trinidad and Tobago
+ URU - Uruguay
+ VEN - Venezuela

In [ ]:
south_america = data_female.query('NOC == "BRA" or NOC == "ARG" or NOC == "BOL" or NOC == "CHI" or NOC == "COL" or NOC == "ECU" or NOC == "GUY" or NOC == "PAR" or NOC == "PER" or NOC == "SUR" or NOC == "TTO" or NOC == "URU" or NOC == "VEN"')

graf = sns.catplot(x = "NOC",
            data = south_america,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Europe

#### Eastern Europe

+ URS/EUN/RUS - Russia
+ UKR - Ukraine
+ POL - Poland
+ ROU - Romania
+ BOH/CZE/TCH - Czech Republic
+ HUN - Hungary
+ BLR - Belarus
+ BUL - Bulgaria
+ SVK - Slovakia
+ MDA - Moldova

In [ ]:
eastern_europe = data_female.query('NOC == "URS" or NOC == "EUN" or NOC == "RUS" or NOC == "UKR" or NOC == "POL" or NOC == "ROU" or NOC == "BOH" or NOC == "CZE" or NOC == "TCH" or NOC == "HUN" or NOC == "BLR" or NOC == "BUL" or NOC == "SVK" or NOC == "MDA"')

graf = sns.catplot(x = "NOC",
            data = eastern_europe,
            kind = "count",
            height = 10,
            aspect = .9
            )
ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Northern Europe

+ GBR/BER/CAY/IVB - United Kingdom
+ SWE - Sweden
+ DEN - Denmark
+ FIN - Finland
+ NOR - Norway
+ IRL - Ireland
+ LTU - Lithuania
+ LAT - Latvia
+ EST - Estonia
+ ISL - Iceland

In [ ]:
northern_europe = data_female.query('NOC == "GBR" or NOC == "BER" or NOC == "CAY" or NOC == "IVB" or NOC == "SWE" or NOC == "DEN" or NOC == "FIN" or NOC == "NOR" or NOC == "IRL" or NOC == "LTU" or NOC == "LAT" or NOC == "EST" or NOC == "ISL"')

graf = sns.catplot(x = "NOC",
            data = northern_europe,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Southern Europe

+ ITA - Italy
+ ESP - Spain
+ GRE/CRT - Greece
+ POR - Portugal
+ SCG/SRB/YUG - Serbia
+ CRO - Croatia
+ BIH - Bosnia and Herzegovina
+ ALB - Albania
+ MKD - North Macedonia
+ SLO - Slovenia
+ KOS - Kosovo
+ MNE - Montenegro
+ MLT - Malta
+ AND - Andorra
+ SMR - San Marino

In [ ]:
southern_europe = data_female.query('NOC == "ITA" or NOC == "ESP" or NOC == "GRE" or NOC == "CRT" or NOC == "POR" or NOC == "SCG" or NOC == "SRB" or NOC == "YUG" or NOC == "CRO" or NOC == "BIH" or NOC == "ALB" or NOC == "MKD" or NOC == "SLO" or NOC == "KOS" or NOC == "MNE" or NOC == "MLT" or NOC == "AND" or NOC == "SMR"')

graf = sns.catplot(x = "NOC",
            data = southern_europe,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Western Europe

+ FRG/GDR/GER/SAA - Germany
+ FRA - France
+ NED/AHO/ARU - Netherlands
+ BEL - Belgium
+ AUT - Austria
+ SUI - Switzerland
+ LUX - Luxembourg
+ MON - Monaco
+ LIE - Liechtenstein

In [ ]:
western_europe = data_female.query('NOC == "FRG" or NOC == "GDR" or NOC == "GER" or NOC == "SAA" or NOC == "FRA" or NOC == "NED" or NOC == "AHO" or NOC == "ARU" or NOC == "BEL" or NOC == "AUT" or NOC == "SUI" or NOC == "LUX" or NOC == "MON" or NOC == "LIE"')

graf = sns.catplot(x = "NOC",
            data = western_europe,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Africa

#### Northern Africa

+ ALG - Algeria
+ EGY - Egypt
+ LBA - Libya
+ MAR - Morocco
+ SUD - Sudan
+ TUN - Tunisia

In [ ]:
northern_africa = data_female.query('NOC == "ALG" or NOC == "EGY" or NOC == "LBA" or NOC == "MAR" or NOC == "SUD" or NOC == "TUN"')

graf = sns.catplot(x = "NOC",
            data = northern_africa,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Eastern Africa

+ BDI - Burundi
+ COM - Comoros
+ DJI - Djibouti
+ ERI - Eritrea
+ ETH - Ethiopia
+ KEN - Kenya
+ MAW - Malawi
+ MRI - Mauritius
+ MOZ - Mozambique
+ RWA - Rwanda
+ SEY - Seychelles
+ SOM - Somalia
+ SSD - South Sudan
+ TAN - Tanzania
+ UGA - Uganda
+ ZAM - Zambia
+ RHO/ZIM - Zimbabwe

In [ ]:
eastern_africa = data_female.query('NOC == "BDI" or NOC == "COM" or NOC == "DJI" or NOC == "ERI" or NOC == "ETH" or NOC == "KEN" or NOC == "MAW" or NOC == "MRI" or NOC == "MOZ" or NOC == "RWA" or NOC == "SEY" or NOC == "SOM" or NOC == "SSD" or NOC == "TAN" or NOC == "UGA" or NOC == "ZAM" or NOC == "RHO" or NOC == "ZIM"')

graf = sns.catplot(x = "NOC",
            data = eastern_africa,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Middle Africa

+ ANG - Angola
+ CMR - Cameroon
+ CAF - Central African Republic
+ CHA - Chad
+ COD - Democratic Republic of the Congo
+ CGO - Republic of the Congo
+ GEQ - Equatorial Guinea
+ GAB - Gabon
+ STP - São Tomé and Príncipe

In [ ]:
middle_africa = data_female.query('NOC == "ANG" or NOC == "CMR" or NOC == "CAF" or NOC == "CHA" or NOC == "COD" or NOC == "CGO" or NOC == "GEQ" or NOC == "GAB" or NOC == "STP"')

graf = sns.catplot(x = "NOC",
            data = middle_africa,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Southern Africa

+ BOT - Botswana
+ SWZ - Eswatini (Swaziland)
+ LES - Lesotho
+ MAD - Madagascar
+ NAM - Namibia
+ RSA - South Africa

In [ ]:
southern_africa = data_female.query('NOC == "BOT" or NOC == "SWZ" or NOC == "LES" or NOC == "MAD" or NOC == "NAM" or NOC == "RSA"')

graf = sns.catplot(x = "NOC",
            data = southern_africa,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Western Africa

+ BEN - Benin
+ BUR - Burkina Faso
+ CPV - Cape Verde
+ CIV - Côte d'Ivoire (Ivory Coast)
+ GAM - Gambia
+ GHA - Ghana
+ GUI - Guinea
+ GBS - Guinea-Bissau
+ LBR - Liberia
+ MLI - Mali
+ MTN - Mauritania
+ NIG - Niger
+ NGR - Nigeria
+ SEN - Senegal
+ SLE - Sierra Leone
+ TOG - Togo

In [ ]:
western_africa = data_female.query('NOC == "BEN" or NOC == "BUR" or NOC == "CPV" or NOC == "CIV" or NOC == "GAM" or NOC == "GHA" or NOC == "GUI" or NOC == "GBS" or NOC == "LBR" or NOC == "MLI" or NOC == "MTN" or NOC == "NIG" or NOC == "NGR" or NOC == "SEN" or NOC == "SLE" or NOC == "TOG"')

graf = sns.catplot(x = "NOC",
            data = western_africa,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Middle East and Asia

#### Middle East

+ BRN - Bahrain
+ CYP - Cyprus
+ IRI - Iran
+ IRQ - Iraq
+ ISR - Israel
+ JOR - Jordan
+ KUW - Kuwait
+ LIB - Lebanon
+ OMA - Oman
+ PLE - Palestine
+ QAT - Qatar
+ KSA - Saudi Arabia
+ SYR/UAR - Syria
+ TUR - Turkey
+ UAE - United Arab Emirates
+ YAR/YEM/YMD - Yemen

In [ ]:
middle_east = data_female.query('NOC == "BRN" or NOC == "CYP" or NOC == "IRI" or NOC == "IRQ" or NOC == "ISR" or NOC == "JOR" or NOC == "KUW" or NOC == "LIB" or NOC == "OMA" or NOC == "PLE" or NOC == "QAT" or NOC == "KSA" or NOC == "SYR" or NOC == "UAR" or NOC == "TUR" or NOC == "UAE" or NOC == "YAR" or NOC == "YEM" or NOC == "YMD"')

graf = sns.catplot(x = "NOC",
            data = middle_east,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Central Asia

+ KAZ - Kazakhstan
+ KGZ - Kyrgyzstan
+ TJK - Tajikistan
+ TKM - Turkmenistan
+ UZB - Uzbekistan

In [ ]:
central_asia = data_female.query('NOC == "KAZ" or NOC == "KGZ" or NOC == "TJK" or NOC == "TKM" or NOC == "UZB"')

graf = sns.catplot(x = "NOC",
            data = central_asia,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### East Asia

+ CHN - China
+ MGL - Mongolia
+ PRK - North Korea
+ KOR - South Korea
+ JPN - Japan
+ HKG - Hong Kong
+ TPE - Taiwan

In [ ]:
east_asia = data_female.query('NOC == "CHN" or NOC == "MGL" or NOC == "PRK" or NOC == "KOR" or NOC == "JPN" or NOC == "HKG" or NOC == "TPE"')

graf = sns.catplot(x = "NOC",
            data = east_asia,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### South Asia 

+ SRI - Sri Lanka
+ BAN - Bangladesh
+ IND - India
+ AFG - Afghanistan
+ PAK - Pakistan
+ BHU - Bhutan
+ NEP - Nepal
+ MDV - Maldives

In [ ]:
south_asia = data_female.query('NOC == "SRI" or NOC == "BAN" or NOC == "IND" or NOC == "AFG" or NOC == "PAK" or NOC == "BHU" or NOC == "NEP" or NOC == "MDV"')

graf = sns.catplot(x = "NOC",
            data = south_asia,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Southeast Asia

+ BRU - Brunei
+ CAM - Cambodia
+ INA - Indonesia
+ LAO - Laos
+ MAL/MAS/NBO - Malaysia
+ MYA - Myanmar
+ PHI - Philippines
+ SIN - Singapore
+ THA - Thailand
+ TLS - Timor Leste
+ VIE/VNM - Vietnam

In [ ]:
southeast_asia = data_female.query('NOC == "BRU" or NOC == "CAM" or NOC == "INA" or NOC == "LAO" or NOC == "MAL" or NOC == "MAS" or NOC == "NBO" or NOC == "MYA" or NOC == "PHI" or NOC == "SIN" or NOC == "THA" or NOC == "TLS" or NOC == "VIE" or NOC == "VNM"')

graf = sns.catplot(x = "NOC",
            data = southeast_asia,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Western Asia

+ ARM - Armenia
+ AZE - Azerbaijan
+ GEO - Georgia

In [ ]:
western_asia = data_female.query('NOC == "ARM" or NOC == "AZE" or NOC == "GEO"')

graf = sns.catplot(x = "NOC",
            data = western_asia,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### Oceania and Others

#### Oceania

+ ASA - American Samoa
+ ANZ/AUS - Australia
+ COK - Cook Islands
+ FIJ - Fiji
+ NZL - New Zealand
+ FSM - Federated States of Micronesia
+ KIR - Kiribati
+ MHL - Marshall Islands
+ NRU - Nauru
+ PLW - Palau
+ PNG - Papua New Guinea
+ SAM - Samoa
+ SOL - Solomon Islands
+ TGA - Tonga
+ TUV - Tuvalu
+ VAN - Vanuatu

In [ ]:
oceania = data_female.query('NOC == "ASA" or NOC == "ANZ" or NOC == "AUS" or NOC == "COK" or NOC == "FIJ" or NOC == "NZL" or NOC == "FSM" or NOC == "KIR" or NOC == "MHL" or NOC == "NRU" or NOC == "PLW" or NOC == "PNG" or NOC == "SAM" or NOC == "SOL" or NOC == "TGA" or NOC == "TUV" or NOC == "VAN"')

graf = sns.catplot(x = "NOC",
            data = oceania,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

#### Others

+ IOA - Individual Olympic Athletes
+ ROT - Refugee Olympic Team
+ UNK - Unknown

In [ ]:
others = data_female.query('NOC == "IOA" or NOC == "ROT" or NOC == "UNK"')

graf = sns.catplot(x = "NOC",
            data = others,
            kind = "count",
            height = 10,
            aspect = .9
            )

ax = graf.axes[0, 0]
ax.bar_label(ax.containers[0])

### **Comentário:**
A distribuição ocorre de maneira a evidenciar a disparidade de oportunidades femininas no esporte por fatores extra-olímpicos (políticos e sociais no caso), com países mulçumanos ou africanos com um quadro de medalhas múltiplas vezes inferiores que países ocidentalizados e com maior abertura e oportunidades para a participação feminina.

## Relação entre países e medalhas:

### Americas

#### North America

In [ ]:
data_female.groupby([north_america['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Central America

In [ ]:
data_female.groupby([central_america['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

South America

In [ ]:
data_female.groupby([south_america['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

### Europe

#### Eastern Europe

In [ ]:
data_female.groupby([eastern_europe['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Northern Europe

In [ ]:
data_female.groupby([northern_europe['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Southern Europe

In [ ]:
data_female.groupby([southern_europe['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Western Europe

In [ ]:
data_female.groupby([western_europe['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

### Africa

#### Northern Africa

In [ ]:
data_female.groupby([northern_africa['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Eastern Africa

In [ ]:
data_female.groupby([eastern_africa['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Middle Africa

In [ ]:
data_female.groupby([middle_africa['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Southern Africa

In [ ]:
data_female.groupby([southern_africa['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Western Africa

In [ ]:
data_female.groupby([western_africa['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

### Middle East and Asia

#### Middle East

In [ ]:
data_female.groupby([middle_east['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Central Asia

In [ ]:
data_female.groupby([central_asia['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### East Asia

In [ ]:
data_female.groupby([east_asia['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### South Asia

In [ ]:
data_female.groupby([south_asia['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Southeast Asia

In [ ]:
data_female.groupby([southeast_asia['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

Western Asia

In [ ]:
data_female.groupby([western_asia['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

### Oceania and Others

#### Oceania

In [ ]:
data_female.groupby([oceania['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

#### Others

In [ ]:
data_female.groupby([others['NOC'], 'Medal']).size().unstack(1).fillna(0).plot(kind='bar', figsize=(50, 10))

### **Comentário:**

**Resumo:**

Mostra que a divisão de conquista de medalhas é majoritariamente europeia (levando em conta a Turquia como um país europeu) e centrada nos países com maior PIB e consequentemente maior investimento em esporte. Na américa o destaque vai para todos os países pertencentes à parte norte do continente, com pequenos destaques para a Argentina, Cuba e o Brasil.
 
Considerando que os dados possuem a divisão por atleta e país, poderia-se fazer uma correlação com os dados de investimento por nação e a forma como isso afeta na conquista individual de medalhas; porém por falta dos dados necessários, não analisaremos isto neste documento.

**Detalhado:**

**América do norte:**  A partir do gráfico é possível notar que Estados Unidos e Canadá dominam o quadro de medalhas na América do Norte, com Estados Unidos ainda sim bem à frente do Canadá em número de medalhas. Isso se dá pelo fato dos EUA ser um país que investe assiduamente em esportes desde a juventude de seus atletas.

**América Central:** A América Central concentra países onde a cultura do esporte não é muito difundida, com isso tem um quadro de medalhas bem menor que os demais. Cuba e Jamaica lideram o quadro de medalhas do continente, com Cuba na frente com mais medalhas de ouro.

**América do Sul:** Na América do Sul, Brasil e Argentina lideram o quadro de medalhas, pois, são os dois países com mais investimento nos esportes no continente, com o Brasil na frente em relação às medalhas de ouro e geral.

**Europa:** A partir dos dados obtidos, na Europa a União Soviética que ao passar dos anos se tornaria Rússia, liderava o quadro de medalhas na Europa oriental. Com o passar dos anos a hegemonia foi caindo um pouco e a Grã Bretanha começou a liderar o quadro de medalhas da Europa. E com o tempo foram surgindo mais países como Itália, Espanha, Portugal, entre outros que começaram a investir mais no esporte e subirem nos quadros de medalha.

**África:** África é um dos continentes com o menor quadro de medalhas, causado pelo baixo investimento no esporte, sendo Quênia o país africano com mais medalhas no continente.

**Ásia:** Na Ásia a China detém a hegemonia de medalhas no continente, sendo um dos países mais populosos e com mais atletas no mundo e sempre sendo referência nos jogos, a China é o país com mais medalhas de ouro no continente.

**Oceania/Outros:** Na Oceania, como sendo o menor continente e com poucos países, quem se sobressai é a Austrália e a Nova Zelândia, os dois principais países da Oceania. Sendo a Austrália o país que detém o maior número de medalhas no geral e medalhas de ouro.

# Tratamento de dados

In [ ]:
columns = []
columns = data_female.columns

In [ ]:
# Transformações de variáveis categóricas pelo LabelEncoder:
data_female['Name'] = preprocessing.LabelEncoder().fit_transform(data_female['Name'])
data_female['Team'] = preprocessing.LabelEncoder().fit_transform(data_female['Team'])
data_female['NOC'] = preprocessing.LabelEncoder().fit_transform(data_female['NOC'])
data_female['Games'] = preprocessing.LabelEncoder().fit_transform(data_female['Games'])
data_female['Season'] = preprocessing.LabelEncoder().fit_transform(data_female['Season'])
data_female['City'] = preprocessing.LabelEncoder().fit_transform(data_female['City'])
data_female['Sport'] = preprocessing.LabelEncoder().fit_transform(data_female['Sport'])
data_female['Event'] = preprocessing.LabelEncoder().fit_transform(data_female['Event'])
data_female['Medal'] = preprocessing.LabelEncoder().fit_transform(data_female['Medal'])

In [ ]:
# Remoção de variáveis desnecessárias:
data_female = data_female.drop('ID', axis = 1)
data_female = data_female.drop('Name', axis = 1)
data_female = data_female.drop('Sex', axis = 1)

# Somente atletas brasileiras:
data_female = data_female.query("NOC == 29")

In [ ]:
# Separando os datasets para realizarmos os testes:
all_columns = data_female.drop('Medal', axis = 1)

column_target = data_female.Medal

In [ ]:
# Dataset de medalhas:
column_target

In [ ]:
# Dataset completo:
all_columns

# Aprendizado de máquina

**"Quantas medalhas as atletas brasileiras vão ganhar nos próximos Jogos Olímpicos?"**

In [ ]:
def SelecionarMelhorMetrica(metricsDF,auxDF, model_name):
  #Pegar as melhores métricas com base no "values_counts()" que nós retorna o valor que mais se repete e sua frequencia
  # O sorted é para ordenar esse valor pelo maior e dessa forma conseguir obter o registro com o melhor resultado por métrica
  melhor_acuraria = sorted(auxDF[(auxDF.Modelo.eq(model_name))].Acuracia.value_counts().index, reverse= True)[0]
  melhor_acuracia_registro_df = auxDF[(auxDF.Modelo.eq(model_name)) & (auxDF.Acuracia.eq(melhor_acuraria)) & (auxDF.F1 != 0) & (auxDF.Precision != 0) & (auxDF.AUC != 0.0) & (auxDF.Recall != 0)][:1]

  melhor_precision = sorted(auxDF[(auxDF.Modelo.eq(model_name))].Precision.value_counts().index, reverse= True)[0]
  melhor_precision_registro_df = auxDF[(auxDF.Modelo.eq(model_name)) & (auxDF.Acuracia != 0) & (auxDF.F1 != 0) & (auxDF.Precision.eq(melhor_precision)) & (auxDF.AUC != 0) & (auxDF.Recall != 0)][:1] 

  melhor_recall = sorted(auxDF[(auxDF.Modelo.eq(model_name))].Recall.value_counts().index, reverse= True)[0]
  melhor_recal_registro_df = auxDF[(auxDF.Modelo.eq(model_name)) & (auxDF.Acuracia != 0) & (auxDF.F1 != 0) & (auxDF.Precision != 0) & (auxDF.AUC != 0) & (auxDF.Recall.eq(melhor_recall))][:1] 

  melhor_auc = sorted(auxDF[(auxDF.Modelo.eq(model_name))].AUC.value_counts().index, reverse= True)[0]
  melhor_auc_registro_df = auxDF[(auxDF.Modelo.eq(model_name)) & (auxDF.Acuracia != 0) & (auxDF.F1 != 0) & (auxDF.Precision != 0) & (auxDF.AUC.eq(melhor_auc)) & (auxDF.Recall != 0)][:1] 

  melhor_F1 = sorted(auxDF[(auxDF.Modelo.eq(model_name))].F1.value_counts().index, reverse= True)[0]
  melhor_F1_registro_df = auxDF[(auxDF.Modelo.eq(model_name)) & (auxDF.Acuracia != 0) & (auxDF.F1.eq(melhor_F1)) & (auxDF.Precision != 0) & (auxDF.AUC != 0) & (auxDF.Recall != 0)][:1] 

  media_final = ((melhor_acuraria + melhor_precision + melhor_recall + melhor_auc + melhor_F1) / 5)

  melhor_acuracia_registro_df.MediaFinal[:1] = media_final
  melhor_precision_registro_df.MediaFinal[:1] = media_final
  melhor_recal_registro_df.MediaFinal[:1] = media_final
  melhor_auc_registro_df.MediaFinal[:1] = media_final
  melhor_F1_registro_df.MediaFinal[:1] = media_final


  metricsDF = pd.concat([metricsDF,melhor_acuracia_registro_df,melhor_precision_registro_df,melhor_recal_registro_df,melhor_auc_registro_df,melhor_F1_registro_df])
  return metricsDF

In [ ]:
def BuildDataFrameMetrics(metricsDF):
  model_RF = RandomForestClassifier()
  model_XGB = XGBClassifier()
  model_NB = GaussianNB()
  model_KNN = KNeighborsClassifier(n_neighbors = 15)
  model_DT = DecisionTreeClassifier(max_depth = None, 
                                  max_features = None, 
                                  criterion = 'entropy',
                                  min_samples_leaf = 1, 
                                  min_samples_split = 2)
  nm = NearMiss()
  models = {"Random Forest": model_RF, 
          "XGBooster": model_XGB,
          "Naive Bayes": model_NB,
          "kNN": model_KNN,
          "DecisionTree": model_DT}

  auxDF =  metricsDF;

  for key, model_object in models.items():
    for indexInsurance in range(2,12,2):
      # Faz a verificação de qual é o modelo sendo utilizado na interação e o instancia novamente
      # Caso isso não ocorra, na próxima interação o modelo ainda terá os dados do treinamento passado,
      # resultando em um dado equivocado.
      if (key == "kNN"):
        model_object =  KNeighborsClassifier(n_neighbors = indexInsurance)
      elif (key == "Random Forest"):
        model_object = RandomForestClassifier()
      elif (key == "XGBooster"):
        model_object = XGBClassifier()
      elif (key == "Naive Bayes"):
        model_object = GaussianNB()
      else:
        model_object = DecisionTreeClassifier(max_depth = None,max_features = None, criterion = 'entropy',min_samples_leaf = 1,min_samples_split = 2)
      
      #Seleção das melhores colunas com base no números de colunas fornecidas pelo for
      modelo_classif_features = SelectKBest(score_func = f_classif, k = indexInsurance)      
      best_colunms = modelo_classif_features.fit(all_columns, column_target).get_support(indices=True)   

      #Realização do oversampling / undersampling
      best_colunms, column_target_1 = nm.fit_resample(data_female.iloc[:,best_colunms], column_target)
      
      #Separação dos dados de teste e treino
      all_columns_treino, all_columns_teste, column_target_treino, column_target_teste = train_test_split(best_colunms,column_target_1,test_size = 0.30, random_state=42)
      prediction =  model_object.fit(all_columns_treino, column_target_treino).predict(all_columns_teste)

      #Criação das métricas 
      fpr2, tpr2, _ = metrics.roc_curve(column_target_teste, prediction, pos_label=1)
      
      auc = metrics.auc(fpr2, tpr2)
      auc *=  100 if auc != 0.0 else 0.0
      
      accuracy = metrics.accuracy_score(column_target_teste, prediction)
      accuracy *= 100 if accuracy != 0.0 else 0.0
      
      recall = metrics.recall_score(column_target_teste, prediction, pos_label='positive', average='micro')
      recall *= 100 if recall != 0.0 else 0.0
      
      precision = metrics.precision_score(column_target_teste, prediction, pos_label='positive', average='micro') 
      precision *= 100 if precision != 0.0 else 0.0
      
      F1 = 2 * (precision * recall) / (precision + recall)

      if(pd.isna(F1)):
        F1 = 0.0
      #Concatenação com o dataframe
      auxDF =  auxDF.append({
          'Acuracia' : accuracy,
          'Precision' : precision,
          'Recall' : recall,
          'AUC' : auc,
          'F1': F1,
          "MediaFinal":0,
          'Modelo' : key,
          "IndexColumnOriginal": indexInsurance -1
      }, ignore_index = True)
    
    #Preencher o dataset original somente com as melhores metricas, evitando registros desncessários. 
    metricsDF = SelecionarMelhorMetrica(metricsDF, auxDF,key);
  return metricsDF

In [ ]:
# Criação do dataframe com métricas sobre os modelos.
metricsDF = pd.DataFrame(columns= ["Acuracia","Precision","Recall","AUC","F1","MediaFinal","Modelo","IndexColumnOriginal"])
metricsDF = BuildDataFrameMetrics(metricsDF)
metricsDF = metricsDF.drop_duplicates()
metricsDF = metricsDF.sort_values(by=['MediaFinal'],ascending=False)
metricsDF

In [ ]:
# Treinamento e predição do modelo selecionado:
model_RF = RandomForestClassifier()

nm = NearMiss()

modelo_classif_features = SelectKBest(score_func = f_classif, k = np.array(metricsDF.IndexColumnOriginal[:1])[0])      
best_colunms = modelo_classif_features.fit(all_columns, column_target).get_support(indices=True)   

best_colunms_1, column_target_1 = nm.fit_resample(data_female.iloc[:,best_colunms], column_target)     

all_columns_treino, all_columns_teste, column_target_treino, column_target_teste = train_test_split(best_colunms_1,column_target_1,test_size = 0.30, random_state=42)

prediction =  model_RF.fit(all_columns_treino, column_target_treino).predict(all_columns_teste)

fpr2, tpr2, _ = metrics.roc_curve(column_target_teste, prediction, pos_label=1)
auc = metrics.auc(fpr2, tpr2)
auc *=  100 if auc != 0.0 else 0.0
accuracy = metrics.accuracy_score(column_target_teste, prediction)
accuracy *= 100 if accuracy != 0.0 else 0.0
recall = metrics.recall_score(column_target_teste, prediction, pos_label='positive', average='micro')
recall *= 100 if recall != 0.0 else 0.0
precision = metrics.precision_score(column_target_teste, prediction, pos_label='positive', average='micro') 
precision *= 100 if precision != 0.0 else 0.0
F1 = 2 * (precision * recall) / (precision + recall)


print("auc",auc)
print("accuracy",accuracy)
print("recall",recall)
print("precision",precision)
print("F1",F1)

In [ ]:
# Matriz de confusão do modelo:
cm = metrics.confusion_matrix(column_target_teste, prediction)
f = sns.heatmap(cm, annot=True, fmt='d')

In [ ]:
ouro = np.count_nonzero(prediction == 1)
prata = np.count_nonzero(prediction == 2)
bronze = np.count_nonzero(prediction == 0)     
                          
print('Resultado da predição de medalhas:\n')
print('Ouro: ', ouro)
print('Prata: ', prata)
print('Bronze: ', bronze)
print('Total: ', ouro + prata + bronze)

**Comentário:**
Podemos comparar os resultados acima com os resultados reais dos Jogos Olímpicos de 2021:
 - Ouro: 7
 - Prata: 6
 - Bronze: 8
 - Total: 21
 
O modelo conseguiu predizer corretamente as medalhas de ouro e ficou bem próximo dos resultados reais das de prata e bronze.